<!DOCTYPE html>
<html lang="ro">
  <head>
    <link rel="stylesheet" href="stil.css" />
    <meta charset="UTF-8" />
    <title>Acasă</title>
  </head>

  <body id="rcorners2">
    <header>
      <h1>Pagina principală</h1>
    </header>
  <%- body %>
  <footer>
    <hr />
    <span>&copy 2023 Erich21&reg;</span>
  </footer>
</body>
</html>
